function search 3
    push constant 0
    pop local 0
    //cnt = 0
    label LOOP
        push argument 1
        push constant 0
        eq
        if-goto END

        push that 0
        push argument 2
        eq
        if-goto FOUND

        //cnt++
        push constant 1
        push local 0
        add
        pop local 0

        //that++
        push constant 1
        push pointer 1
        add
        pop pointer 1

        push argument 1
        push constant 1
        sub
        pop argument 1

        goto LOOP


        label FOUND
        push local 0
        return

        label END
        push constant 0
        push constant 1
        sub
        return